<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Homepage</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <nav>

        <a href="/read">Read Users</a>

    </nav>

    <h1>Create User</h1>

    <form action="/create" method="post">

        <input type="text" placeholder="Enter Your Name" name="name">
        <input type="text" placeholder="Enter Your Email" name="email">
        <input type="text" placeholder="Enter Your Image URL" name="imgurl">
        <input type="submit" value="Create User">

    </form>

</body>
</html>